azure-core==1.32.0
azure-servicebus==7.13.0
certifi==2024.12.14
charset-normalizer==3.4.1
cramjam==2.9.1
idna==3.10
isodate==0.7.2
kafka-python-ng==2.2.3
lorem==0.1.1
pathspec==0.12.1
python-snappy==0.7.3
PyYAML==6.0.2
requests==2.32.3
six==1.17.0
typing_extensions==4.12.2
urllib3==2.3.0
yamllint==1.35.1
